<style>
body 	{background-color: teal}
p 		{color: white;}
</style>

<body>
<font size="5">
<!-- <img src="../../assets/images/a.jpg" alt="selfie"> -->
<p>Name: Kin Seng Chau </p>
<p>From: <a href="https://en.wikipedia.org/wiki/Macau">Macau SAR</a></p>
<p>Year: Senior</p>
<p>Fun Fact: I love matcha so much that I would order it from Japan directly</p>
<p>My expectation: I am excited to learn how to build a website with the concepts we possibly learnt from other classes, e.g. database. Also, probably pick up some html/css as I am learning the course material and homeworks.</p>
</font>
</body>